/* Basic reset and styling: 1em is set to 12px */
*                        { margin: 0; padding: 0 }
html                     { font-size: 12px; }
body                     { font-size: 62.5%; font-family: Verdana, sans-serif; color: #333; }
p                        { font-size: 1.2em; margin-bottom: 1.5em; margin-right: 1.5em; line-height: 1.5em;}
td, th,li                { font-size: 1.2em; }
h1, h2, h3, h4           { clear: both; font-family: Georgia, serif; }
h1                       { font-size: 2.4em; margin: 1em 0 1em 0; font-weight: bold; color: #f00;}
h2                       { font-size: 1.8em; margin: 1em 0 1em 0; font-weight: bold; }
h3                       { font-size: 1.6em; margin: 1em 0 1em 0; font-weight: bold; }
h4                       { font-size: 1.4em; margin: 1em 0 1em 0; font-weight: bold; }
a                        { color: #555; font-weight: bold; text-decoration: none; }
a:hover                  { color: #777; text-decoration: underline; }

/* ID's and classes */
#sportlink_wrapper       { width: 95%; padding: 0 1em 1em 1em; }
#left                    { width: 250px; padding: 1em; float:left; }
#top                     { padding-top: 1em; padding-bottom: 0.5em; }
#top ul.menu li          { display: inline; width: 200px; }
ul.menu                  { list-style: none; margin: 0; padding: 0; }
ul.menu li               { margin-left: 1em; line-height: 1.5em; padding: 0; }
td.contentheading        { font-size: 1.6em; margin: 1em 0 1em 0; font-weight: bold; }

/* Navajo plugin styles for Sportlink content */
.navajo fieldset         { width: 925px; border: 1px solid #333; background-color: white; margin-bottom: 5px; }
.navajo fieldset ol      { list-style: none; margin: 0; padding: 0; }
.navajo fieldset li      { margin-left: 1em; line-height: 1.5em; padding: 0; }
.navajo label            { display: block; float: left;  width: 120px;  margin-right: 1em; color: #333; font-weight:bold; }
.navajo .error           { color: #ff0000; font-weight: bold; }
.navajo .warning         { background-color: #fff9d9; }
.navajo input.text       { width: 200px; }
.navajo input.checkbox   { width: 16px; }
.navajo input.hidden     { visibility: hidden; }
.navajo textarea.remarks { width: 400px; padding: 1em; }
.navajo select.property  { width: 150px; }
.navajo input, select, textarea { border: 1px solid #333; font-size: 1.2em; }

/* Navajo plugin table styles */
.navajo table            { border-width: 1px 1px 0px 0px; border-style: solid; border-color: #777; border-spacing: 0; width: 100%;}
.navajo tr               { background-color: #eee; }
.navajo tr.altRow        { background-color: #fff; }
.navajo tr.bold td       { font-weight: bold; }
.navajo th               { background-color: #eee; background: #ccc url(../images/icon-table-sort.png) no-repeat 2px 8px; text-align: left; border-width: 0px 0px 1px 1px; border-style: solid; border-color: #777; padding: 0.3em 0.3em 0.3em 1.2em; }
.navajo td               { border-width: 0px 0px 1px 1px; border-style: solid; border-color: #777; padding: 0.3em 0.3em 0.3em 1.2em; }
.navajo .sortedASC       { background: url(../images/icon-table-sort-asc.png) no-repeat 2px 4px #f00; }
.navajo .sortedDESC      { background: url(../images/icon-table-sort-desc.png) no-repeat 2px 10px #f00; }
.navajo .tableHeaderOver { cursor: pointer; text-decoration: underline; }
